.wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.input {
    width: 80%;
}
.error {
    display: none;
}
.error_true {
    display: block;
}