.wrap {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.input_wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}
.input {
    border: 1px solid #CCCCCC;
    box-shadow: none;
    box-sizing: border-box;
    border-radius: 29px;
    padding: 12px;
    width: 92%;
    font-size: 14px;
    line-height: 16px;
    outline: none;
}
.input_wrap .add {
    background: #356EFF;
    color: #FFFFFF;
    width: 36px;
    height: 36px;
}
.error {
    display: none;
}
.error_true {
    display: block;
}